@{
    ViewData["Title"] = "Ana Sayfa";
}
<div id="index">
    <section class="container padding-bottom-2x">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                @{ await Html.RenderPartialAsync("Partials/Products/ListOfThree"); }
            </div>
            <div class="col-md-4 col-sm-6">
                @{ await Html.RenderPartialAsync("Partials/Products/ListOfThree"); }
            </div>
            <div class="col-md-4 col-sm-6">
                @{ await Html.RenderPartialAsync("Partials/Products/ListOfThree"); }
            </div>
        </div>
    </section>
    @{ await Html.RenderPartialAsync("Partials/Products/Featured"); }
</div>

@section scripts {
    <script src="~/js/pagescripts/index.js"></script>
}