@{
    ViewData["Title"] = "Ana Sayfa";
}
<div id="index">
    <section class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                @{ await Html.RenderPartialAsync("Partials/Products/ListOfThree", new { Title = "En İyi Ürünler", Binder = "best" }); }
            </div>
            <div class="col-md-4 col-sm-6">
                @{ await Html.RenderPartialAsync("Partials/Products/ListOfThree", new { Title = "En Çok Satanlar", Binder = "top" }); }
            </div>
            <div class="col-md-4 col-sm-6">
                @{ await Html.RenderPartialAsync("Partials/Products/ListOfThree", new { Title = "Son Eklenenler", Binder = "news" }); }
            </div>
        </div>
    </section>
    @{ await Html.RenderPartialAsync("Partials/Products/Featured"); }
</div>

@section scripts {
    <script src="~/js/pagescripts/index.js"></script>
}