################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/Perque/v15
/src/admin/Perque.Admin/obj
/src/api/Perque.Api/obj/Debug/netcoreapp2.1
/src/api/Perque.Api/obj
/src/data/Perque.Contracts/obj
/src/data/Perque.Data/obj
/src/data/Perque.Entities/obj
/src/web/Perque.Hosting/obj
/src/admin/Perque.Admin/bin/Debug/netcoreapp2.1
/src/api/Perque.Api/bin/Debug/netcoreapp2.1
/src/data/Perque.Contracts/bin/Debug/netcoreapp2.1
/src/data/Perque.Data/bin/Debug/netcoreapp2.1
/src/data/Perque.Entities/bin/Debug/netcoreapp2.1
/src/web/Perque.Hosting/bin/Debug/netcoreapp2.1
/src/data/Perque.Business/bin/Debug/netcoreapp2.1
/src/data/Perque.Business/obj
/src/data/Perque.Business.Abstractions/bin/Debug/netcoreapp2.1
/src/data/Perque.Business.Abstractions/obj
/src/POC/Perque.ApiUsage/bin/Debug
/src/POC/Perque.ApiUsage/obj/Debug
/src/api/Perque.Api/bin/Release/netcoreapp2.1
/src/data/Perque.Business/bin/Release/netcoreapp2.1
/src/data/Perque.Business.Abstractions/bin/Release/netcoreapp2.1
/src/data/Perque.Contracts/bin/Release/netcoreapp2.1
/src/data/Perque.Data/bin/Release/netcoreapp2.1
/src/data/Perque.Entities/bin/Release/netcoreapp2.1
/src/POC/Perque.ApiUsage/obj/Release
/src/api/Perque.Api/Properties/PublishProfiles
