@{
    ViewData["Title"] = "Index";
}

<h2>Kategori Yönetimi</h2>
<div id="categoryList">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <table class="table">
                <tr>
                    <th>Kategori Adı</th>
                    <th>Alt Kategoriler</th>
                    <th></th>
                </tr>
                <tr v-for="item in items">
                    <td>{{item.name}}</td>
                    <td>{{item.subs}}</td>
                    <td>
                        <button class="btn btn-xs btn-success" @@click="selectRow(item)"><span class="fa fa-search"></span> Detay</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section pagescript {
    <script src="~/pageScripts/productivity/category/index.js"></script>
}