<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <section class="widget widget-light-skin">
                    <h3 class="widget-title">Bilge Adam</h3>
                    <p class="text-white">Phone: 444 33 30</p>
                    <ul class="list-unstyled text-sm text-white">
                        <li><span class="opacity-50">Pazartesi - Cuma:</span>09.00 - 18.00 pm</li>
                        <li><span class="opacity-50">Cumartesi - Pazar:</span>10:00 - 16:00 pm</li>
                    </ul>
                    <p><a class="navi-link-light" href="#">destek@bilgeadam.com</a></p><a class="social-button shape-circle sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a><a class="social-button shape-circle sb-google-plus sb-light-skin" href="#"><i class="socicon-googleplus"></i></a>
                </section>
            </div>
        </div>
        <hr class="hr-light mt-2 margin-bottom-2x">

        <p class="footer-copyright">© Tüm hakları saklırdır &nbsp;<i class="icon-heart text-danger"></i><a href="http://rokaux.com/" target="_blank"> &nbsp;by bilgeadam</a></p>
    </div>
</footer>