<!DOCTYPE html>

<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" media="screen" href="css/vendor.min.css">
    <link id="mainStyles" rel="stylesheet" media="screen" href="css/styles.min.css">
    <title>@ViewBag.Title</title>
    <script src="~/js/modernizr.min.js"></script>
    <script src="http://cdn.perque.com/js/vue.js"></script>
    <script src="http://cdn.perque.com/js/axios.min.js"></script> @*Ajax istekleri için*@
</head>
<body>
    @{ await Html.RenderPartialAsync("Partials/LeftMenu"); }
    @{ await Html.RenderPartialAsync("Partials/MobileMenu"); }
    @{ await Html.RenderPartialAsync("Partials/TopMenu"); }
    <div class="offcanvas-wrapper">
        @RenderBody()
        @{ await Html.RenderPartialAsync("Partials/Footer"); }
    </div>
    <a class="scroll-to-top-btn" href="#"><i class="icon-arrow-up"></i></a>
    <div class="site-backdrop"></div>
    
    <script src="js/vendor.min.js"></script>
    <script src="js/scripts.min.js"></script>
    <script src="http://cdn.perque.com/js/perque/perque.js"></script> @*Ana scriptimiz*@
    <script src="http://cdn.perque.com/js/perque/ajax.js"></script> @*özelleştirilmiş ajaxlar*@
    <script src="~/js/partials/leftMenu.js"></script>

    @RenderSection("scripts", false)
</body>
</html>
