<section class="container padding-bottom-3x" id="wdgFeatured">
    <h3 class="text-center mb-30">Öne Çıkan Ürünler</h3>
    <div class="owl-carousel">
        <div class="grid-item" v-for="p in featured">
            <div class="product-card">
                <a class="product-thumb" href="shop-single.html">
                    <img src="~/img/products/01.jpg" alt="Product">
                </a>
                <h3 class="product-title"><a href="shop-single.html">{{p.name}}</a></h3>
                <h4 class="product-price">
                    @*<del>$44.95</del>$34.99*@
                    {{p.price}} ₺
                </h4>
                <div class="product-buttons">
                    <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i class="icon-heart"></i></button>
                    <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</section>